// Omnifocus
// --------------------------------------------------------------------------
// Based on Matt Gemmell's OmniFocus-inspired stylesheet for Taskpaper
// https://mattgemmell.com/taskpaper-3/
// --------------------------------------------------------------------------
@background-color: #f7f7f7;
@tint-color: #8c19ff;
@heading-color: #2600cf;
@note-fg-color: #666;
@note-bg-color: #fffab9;
@link-color: blue;
@tag-fg-color: @tint-color;
@tag-bg-color: @background-color;

@text-color: hsla(hue(@background-color), saturation(@background-color), 100 - lightness(@background-color), .92);
@mute-color: hsla(hue(@text-color), saturation(@text-color), lightness(@text-color), .5); // mix(@text-color, @background-color, 50%);
@handle-color: mix(@tint-color, @background-color, 75%);
@handle-secondary-color: mix(@tint-color, @background-color, 50%);
